html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

ul{
    padding: 0;
    list-style: none;
}

h1, ul, p, h3, h4, h2, dd{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

img[src$=".jpg"]{/* imagens que tenham source que terminam com .jpg */
    border-radius: 10px;
}

.videoWrapper {
    width: 80vw;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9: 9/16 * 100 = 56.25% */
    height: 0;
    overflow: hidden;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 600px) {
    .videoWrapper {
        margin-bottom: 40px;
    }
  }
