@import 'global.css';
@import './utilidades/tipografia.css';
@import './utilidades/cores.css';
@import './utilidades/componentes.css';
@import './utilidades/slide.css';
/* header */
@import 'header.css';
/* introdução */
@import './home/slides.css';
/* slides */
@import './home/introducao.css';
/* produtos */
@import './home/produtos.css';
/* acionamentos */
@import './home/acionamentos.css';
/* produtos */
@import './home/persianas-home.css';
/* contato */
@import './home/formulario.css'; 
/* footer */
@import 'footer.css';

.notification {
  position: fixed;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 9999;
}

.show {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hide {
  opacity: 0;
  transition: opacity 0.3s ease;
}