.acionamentos-bg {
    background-color: var(--cor-1);
}

.acionamentos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 128px 20px 60px 20px;
}

.acionamentos-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.acionamentos-imgs img {
    flex: 1;
    min-width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
}

.acionamentos-imgs img:not(:first-child):hover {
    cursor: pointer;
    outline: 2px solid var(--cor-p1);
}

.acionamentos-imgs img:first-child {
    min-width: 100%;
    height: 360px;
    object-fit: cover;
}

.acionamentos-conteudo {
    display: grid;
    place-content: start;
}

.acionamentos-conteudo h2, h3 {
    margin-bottom: 24px;
}

.acionamentos-conteudo p {
    margin-bottom: 32px;
    max-width: 600px;
    margin-left: 24px;
}

.acionamentos-conteudo li {
    display: flex;
    max-width: 400px;
    align-items: center;
    gap: 8px;
}

.acionamentos-conteudo li:not(.tecnica)::before{
    content: "";
    width: 12px;
    height: 6px;
    background-color: var(--cor-p1);
}

.acionamentos-conteudo span{
    border-bottom: 3px solid #e97100;
}

.tecnica{
    border-bottom: 2px solid var(--cor-4);
}

.acionamentos-conteudo ul {
    margin-left: 24px;
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
}

/* Cores Persianas */
.ul-cores-img{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: 300px;
    gap: 24px;
    justify-content: center;
}
.ul-cores-img img{
    border-radius: 10px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: .3s;
}

.ul-cores-img img:hover{
    scale: 1.1;
}

@media (max-width: 1080px) {
    .acionamentos {
        padding: 64px 20px;
        grid-template-columns: 1fr;
    }
    .acionamentos-imgs img {
        min-width: 120px;
    }
    .acionamentos-imgs img:first-child {
        margin-top: 32px;
    }
    .acionamentos-conteudo .botao {
        margin: 0 auto;
    }

    .ul-cores-img li img {
        width: 150px;
        height: 150px;
    }
    .ul-cores-img{
        grid-template-columns: repeat(auto-fit, 150px);
        grid-auto-rows: 150px;
        margin-bottom: 24px;
    }
}
@media (max-width: 450px){
    .acionamentos-imgs img:first-child {
        height: 200px;
    }
    .acionamentos-imgs img {
        height: 150px;
    }
}