.acionamentos-bg {
    background-color: var(--cor-1);
}

.acionamentos {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 40px;
    padding: 128px 20px;
}

.acionamentos-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.acionamentos-imgs img {
    flex: 1;
    min-width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
}

.acionamentos-imgs img:not(:first-child):hover {
    cursor: pointer;
    outline: 2px solid var(--cor-p1);
}

.acionamentos-imgs img:first-child {
    min-width: 100%;
    height: 360px;
    object-fit: cover;
}

.acionamentos-conteudo {
    display: grid;
    place-content: start;
}

.acionamentos-conteudo h2 {
    margin-bottom: 24px;
}

.acionamentos-conteudo p {
    margin-bottom: 32px;
    max-width: 600px;
    margin-left: 24px;
}

.acionamentos-conteudo li {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-bottom: 2px solid var(--cor-4);
}

.acionamentos-conteudo ul {
    margin-left: 24px;
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
}

.cores-persianas {
    grid-column: 1/-1;
}

.ul-cores-img {
    margin-top: 32px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ul-cores-img li img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1080px) {
    .acionamentos {
        padding: 64px 20px;
        grid-template-columns: 1fr;
    }
    .acionamentos-imgs img {
        min-width: 120px;
    }
    .acionamentos-imgs img:first-child {
        margin-top: 32px;
    }
    .acionamentos-conteudo .botao {
        margin: 0 auto;
    }

    .ul-cores-img li img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 450px){
    .acionamentos-imgs img:first-child {
        height: 200px;
    }
    .acionamentos-imgs img {
        height: 150px;
    }
}