.contato-bg{
    background-image: url('/img/contato/bg-persiana-cama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 60px;
    width: 100%;
    max-height: 790px; /* Definir a altura máxima */
    height: 100vh;
    box-sizing: border-box;
}

.contato-form{
    display: grid;
    justify-content: start;
    align-self: center;
}

.contato-form > img{
    display: grid;
    height: 100%;
    position: absolute;
    z-index: 1;
    justify-self:center;
    align-self: center;
}
.form{
    background-color: var(--cor-0);
    width: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px 60px;
    gap: 20px;
    z-index: 1;
    box-sizing: border-box;
}
.form label{
    color: var(--cor-5);
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}
.form .col2{
    grid-column: 1/-1;
}
.form .botao{
    max-width: none;
}

.form img{
    margin: 0 auto;
}
.form h2{
    margin-top: 20px;
}
.form input[type="text"],
.form input[type="email"],
.form textarea{
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background-color: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-0);
    box-shadow: 0 0 0 2px #33e0ff;
}

@media (min-width:1080px){
    .contato-bg{
        height: 1000px;
    }
}

@media (max-width:800px){
    .contato-form{
        justify-content: center;
        padding: 64px;
    }
}
@media (max-width:600px){
    .contato-bg{
        background: none;
        padding: 0px;
        overflow-x: hidden;
    }
    .contato-form{
        padding: 0px;
    }
    .form{
        display: block;
        width: 100vw;
        padding: 32px;
    }
    .form label, .form .botao{
        margin-top: 16px;
    }
    .form .botao{
        width: 100%;
        font-size: 1.2rem;
    }
}

.form input[type="email"].invalido,
.form input[type="text"].invalido
{
    border: 1px solid red;
}
.erroForm{
    display: block;
    margin-top: 5px;
}
.form input[type="email"].invalido:focus,
.form input[type="text"].invalido:focus
{
    box-shadow: 0 0 0 2px #ec7676;
}