.introducao-bg{
    background-color: var(--cor-2);
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.introducao-conteudo{
    grid-column: 1;
}
.slider{
    grid-column: 2;
}
.introducao-conteudo p{
    margin-top: 40px;
    margin-bottom: 15px;
}

.slider{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin: 40px 0px;
    border-radius: 10px; 
    position: relative;  
}
.img2{
    position: absolute;
    bottom: 0px;
    right: 80px;
    transform: translateY(100%);
    z-index: -1;
}
.slides{
    width: 400%;
    height:fit-content;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    transition: 3s;
}

.slide img{
    width: 100%;
}

.manual-navegacao{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}

.manual-btn:not(:last-child){/* aplica em todos menos no último */
    margin-right: 32px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .primeiro-slide{
    margin-left: 0;
}
#radio2:checked ~ .primeiro-slide{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro-slide{
    margin-left: -50%;
}
#radio4:checked ~ .primeiro-slide{
    margin-left: -75%;
}

.navegacao-auto div{
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}

.navegacao-auto{
    position: absolute;
    width: 100%;
    bottom: 28px;
    display: flex;
    justify-content: center;
} 

.navegacao-auto div:not(:last-child){
    margin-right: 32px;
}

#radio1:checked ~ .navegacao-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navegacao-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navegacao-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navegacao-auto .auto-btn4{
    background-color: #fff;
}

@media (max-width: 1000px){
    .introducao{
        grid-template-columns: 1fr;
    }
    .img2{
        display: none;
    }
    .introducao-conteudo{
        grid-column: 2;
    }
    .introducao-conteudo{
        grid-column: 1;
    }
    .slider{
        grid-column: 1;
    }
    /* .slider{
        width: 100%;
        margin: 0 auto;
        border-radius: 0px;
    }
    .slide{
        border-radius: 10px;
    }*/
    .manual-btn, .manual-navegacao, .navegacao-auto{
        display: none;
    } 
}