.produtos h2{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}

.produtos h2::after, .produtos h2::before{
    content: "";
    width: 220px;
    height: 5px;
    display: inline-block;
    background: var(--cor-3);
}

.produtos ul{
    max-width: 1300px;
    margin: 0 auto 80px auto;
    display: grid;
    /* flex-wrap: wrap; */
    align-items: end;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: 300px;
    justify-content: center;
    grid-auto-flow: row dense;
    gap: 24px;
}

.produtos img{
    height: 80%;
    margin: 0 auto;
}

.produtos h3{
    padding: 16px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.produtos h3::before{
    content: "";
    width: 12px;
    height: 10px;
    background-color: var(--cor-p1);
    transition: .3s;
}

.produtos a:hover h3::before{
    width: 20px;   
}
@media (max-width: 500px){
    .produtos ul{
        grid-template-columns: repeat(auto-fit, 200px); /* largura min elemento */
        grid-auto-rows: 200px; /* altura elemento */
    }
    .produtos img{
        width: 50%;
    }
}